* {
  padding:0%;
  margin: 0%;
  box-sizing: border-box;
}

 .hero-image {
  background-image: linear-gradient(rgba(131, 199, 131, 0.678),rgb(237, 243, 237)), url("./components/781822.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}


  